/* main */
main .profile{ position: relative;  height: 500px; }
main .main { position: absolute; width: 300px; height: 300px; border-radius: 50%; left:0; right: 0; top:50%; margin:0 auto; z-index: 1; overflow:hidden; }
main .main img{ width: 100%; height: auto; }

main .bg{  width: 1200px; margin:0 auto; height: 100%; border-bottom:1px solid black; overflow:hidden;}
main .bg img{ width: 100%; height: auto; }